<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Edit Post</h1>
    <p>Post id : <%= post.id %></p>
    <h3>Username : <%= post.usernaem %></h3>
    <form  method="post"  action="/posts/<%= post.id %>?_method=PATCH">
        <textarea name="content" rows="10" cols="35"> <%= post.content %> </textarea>
        <button>Edit post </button>
    </form>
</body>
</html>