<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Here is post details </h1>
    <div class="post">
         <p> Post Id : <%= post.id %></p>
             <h1 class="user"> @ <i><%= post.usernaem %></i></h1>
             <p>Content : <%= post.content %></p> 
    </div>
</body>
</html>