<%- include("includes/head.ejs")  %>
<body>
     <h1>Error <%= statusCode %> - Page Not Found</h1>
    <p>Sorry, we couldn't find data for user: <strong><%= username %></strong>.</p>
    <a href="/">Go back home</a>
</body>