<%- include("includes/head.ejs")  %>
<body>
    <h1>this home page</h1>
    <h1> <%=3*4 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda pariatur, recusandae qui et consequuntur aliquam sequi. Praesentium magnam eveniet fuga est laborum quam, dolor laboriosam ducimus sapiente possimus eos provident?</p>
    <button>Click me !</button>
</body>
